<configuration>
    <contextName>dnsao</contextName>

    <property name="LOG_PATTERN"
              value="[%d{HH:mm:ss.SSS}] %-5level [%replace(%thread){'com.allanvital.dnsao.Main.main','main'}] [%logger] %msg%n" />

    <appender name="CONSOLE" class="ch.qos.logback.core.ConsoleAppender">
        <target>System.out</target>
        <encoder>
            <pattern>${LOG_PATTERN}</pattern>
        </encoder>
    </appender>

    <appender name="ASYNC_CONSOLE" class="ch.qos.logback.classic.AsyncAppender">
        <queueSize>8192</queueSize>
        <discardingThreshold>0</discardingThreshold>
        <neverBlock>true</neverBlock>
        <appender-ref ref="CONSOLE"/>
    </appender>

    <logger name="DNS" level="INFO" additivity="false">
        <appender-ref ref="ASYNC_CONSOLE" />
    </logger>

    <root level="WARN">
        <appender-ref ref="ASYNC_CONSOLE"/>
    </root>

    <logger name="org.xbill.DNS" level="OFF" additivity="false"/>
    <logger name="io.javalin" level="OFF"/>
    <logger name="org.eclipse.jetty" level="OFF"/>
</configuration>
